<%= simple_form_for brewery do |form| %>
  <%= form.input :name %>
  <div class="field">
    <%= form.label :country_code, class: "label" %>
    <div class="control has-icons-left">
      <span class="select">
        <%= form.country_select :country_code, { priority_countries: ["CH", "US", "DE"] } %>
      </span>
      <span class="icon is-small is-left">
        <i class="fa fa-globe"></i>
      </span>
    </div>
  </div>

  <%= render "form_actions", form: form, back_to: breweries_path %>
<% end %>
