<h1 class="title is-1"><%= @brewery.name %></h1>
<h3 class="subtitle is-3"><%= @brewery.country_name %></h3>

<div class="level">
  <div class="level-left">
    <div class="level-item"><%= link_to 'Edit', edit_brewery_path(@brewery), class: "button" %></div>
    <div class="level-item"><%= link_to 'Back', breweries_path, class: "button" %></div>
    <div class="level-item"><%= link_to 'Add Beer', new_brewery_beer_path(@brewery), class: "button is-primary" %></div>
  </div>
</div>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>IBU</th>
      <th>Style</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, [@brewery, beer] %></td>
        <td><%= number_to_percentage beer.abv, precision: 1 %></td>
        <td><%= beer.ibu %></td>
        <td><%= beer.subcategory.name %></td>
        <td><%= render "table_buttons", object: [@brewery, @beer] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
