<%= simple_form_for [@brewery, beer] do |form| %>
  <%= form.input :name %>
  <%= form.input :subcategory_id do %>
    <span class="select">
      <%= form.grouped_collection_select :subcategory_id, Category.all, :subcategories, :name, :id, :fullname %>
    </span>
  <% end %>
  <%= form.input :abv %>
  <%= form.input :ibu %>
  <%= form.input :notes, input_html: { class: "textarea" } %>

  <%= render "form_actions", form: form, back_to: @brewery %>
<% end %>
