<div class="level">
  <div class="level-left">
    <div>
      <h1 class="title"><%= @beer.name %></h1>
      <h2 class="subtitle"><%= @brewery.name %></h2>
    </div>
  </div>

  <div class="level-right">
    <div class="field has-addons">
      <p class="control">
        <%= link_to @brewery.name, @brewery, class: "button is-small" %>
      </p>
      <p class="control">
        <%= link_to edit_brewery_beer_path(@brewery, @beer), class: "button is-small" do %>
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">ABV</span>
          <span class="tag is-info"><%= number_to_percentage @beer.abv, precision: 1 %></span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">IBU</span>
          <span class="tag is-success"><%= @beer.ibu %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="level-right has-text-weight-bold">
    <%= @beer.subcategory.fullname %>
  </div>
</div>

<p class="box">
  <% if @beer.notes %>
    <%= @beer.notes %>
  <% else %>
    <span class="has-text-grey-light">Take some notes to show them here.</span>
  <% end %>
</p>
