<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, id: :supplier_name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :url, class: "label" %>
    <div class="control">
      <%= form.text_field :url, id: :supplier_url, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <div class="control">
      <%= form.text_area :notes, id: :supplier_notes, class: "textarea" %>
    </div>
  </div>

  <%= render "form_actions", form: form, back_to: supplier %>
<% end %>
