<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="columns">
        <div class="column is-narrow" style="width: 200px;">
          <%= render "menu" %>
        </div>
        <div class="column">
          <% if notice.present? %>
            <p id="notice" class="notification is-primary"><%= notice %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </section>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
